.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 1.2s;
}
.overlay-content {
    position: relative;
    top: 2%;
    width: 100%;
    text-align: center;
}
.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: greenyellow;
}
.overlay .closebtn { z-index: 2;
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 60px;
color: white;
background-color: rgb(10, 1, 36);
}

